# Archivos SQL
*.sql
connection/*.sql

# Logs
*.log
logs/
error_log.txt
emailsEnviados.txt

# Archivos temporales
*.tmp

# Imágenes subidas por usuarios
nueva_plataforma/uploads/vehiculos/*
!nueva_plataforma/uploads/vehiculos/.gitkeep

